POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sso
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TIMEOUT=15s

REDIS_HOST=localhost
REDIS_PORT=6037
REDIS_PASSWORD=redis
REDIS_TIMEOUT=15s
REDIS_DB=0

KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_TIMEOUT=15s

GRPC_ADDR=:50051
GRPC_TIMEOUT=30s

LOG_LEVEL=debug

JWT_TODOAPP_KEY=your-secret-key-here

JWT_TTL=15m
SESSION_TTL=720h