POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sso
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TIMEOUT=15s

GRPC_ADDR=:50051
GRPC_TIMEOUT=30s

LOG_LEVEL=debug

JWT_TODOAPP_KEY=VCgIkBM3FiDP7ESJBukNbfnCJQX9tfDvLIfJFIodRfA
JWT_TTL=12h